absl-py>=2.3.0
beartype>=0.21.0
cffi>=1.17.1
chex>=0.1.89
contourpy>=1.3.0
cycler>=0.12.1
equinox>=0.11.10
etils>=1.5.2
flax>=0.8.5
fonttools>=4.58.2
fsspec>=2025.5.1
humanize>=4.12.3
igraph>=0.11.8
importlib_metadata>=8.7.0
importlib_resources>=6.5.2
jax>=0.4.30
jaxlib>=0.4.30
jaxtyping>=0.2.36
kiwisolver>=1.4.7
llvmlite>=0.43.0
markdown-it-py>=3.0.0
matplotlib>=3.9.4
mdurl>=0.1.2
ml_dtypes>=0.5.1
mpi4jax>=0.5.4
mpi4py>=3.1.6
msgpack>=1.1.0
nest-asyncio>=1.6.0
NetKet>=3.13.0
numba>=0.60.0
numba4jax>=0.0.12.post3
numpy>=2.0.2
opt_einsum>=3.4.0
optax>=0.2.4
orbax-checkpoint>=0.6.4
orjson>=3.10.18
packaging>=25.0
pillow>=11.2.1
plum-dispatch>=2.5.7
protobuf>=6.31.1
pycparser>=2.22
Pygments>=2.19.1
pyparsing>=3.2.3
python-dateutil>=2.9.0.post0
PyYAML>=6.0.2
rich>=14.0.0
scipy>=1.13.1
six>=1.17.0
tensorstore>=0.1.69
texttable>=1.7.0
toolz>=1.0.0
tqdm>=4.67.1
typing_extensions>=4.14.0
zipp>=3.22.0
